.App {
  text-align: center;
  background-color: #ffffff;
  color: #3b7f34;
}

header {
  background-color: #f0e5d1;
  width: 100%;
}

nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  padding: 20px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #3b7f34;
}

nav a:hover {
  color: #ffffff;
}
